body {
  font-family:'lato','Helvetica Neue',serif;
  font-weight:400;
  background:gray;
}

a {
  color:#5193B5;
}

a:hover {
  color:#FCB326;
}

#nav {
    z-index:10;
}

#nav.affix {
    position:fixed;
    top:0;
    width:100%;
    box-shadow:0 0 100px 0;
}

.nav-wrapper {
    height:50px;
}

.content_space {
  background-color:white;
  padding-bottom:50px;
}

.ui_grid_table {
    width: 100%;
    min-height: 80vh;
}

.ui_grid_table .linkCell {
  padding:4px;
}

.footer {
  color:white;
  background-color:#081F3F;
  padding-top:30px;
  height:80px;
  text-align:center;
}