body {
  font-family:'lato','Helvetica Neue',serif;
  font-weight:400;
  background:gray;
}

a {
  color:#5193B5;
}

a:hover {
  color:#FCB326;
}

.content_space {
  background-color:white;
  padding-bottom:50px;
}

.ui_grid_table {
    width: 100%;
    min-height: 250px;
}

.ui_grid_table .linkCell {
  padding:4px;
}

.footer {
  color:white;
  background-color:#081F3F;
  padding-top:30px;
  height:80px;
  text-align:center;
}