<% include head %>
  <body>
    <section class="content_space">
      <div class="nav-wrapper">
        <div id="nav" data-spy="affix" data-offset-top="300" class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Ollie O'Donnell</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul id="navigation-bar" class="nav navbar-nav">
                <li id="Home"><a href="/">Home</a></li>
                <li id="Resume"><a href="/resume">R&eacute;sum&eacute;</a></li>
                <li id="Projects"><a href="/projects">Projects</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>